:root {
  --cell-size: 50px;
  --cell-count: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color:ghostwhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body>h1 {
  text-align: center;
  margin: 1rem 0;
}


/* Grid Styles */
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sketch-area {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--cell-size) * var(--cell-count));
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
}
.col.clicked {
  background-color: black;
}

/* Controls Styles */
#controls {
  margin-top: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
  width: calc(var(--cell-size) * var(--cell-count));
  gap: 1rem;
}
#controls>button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
#controls>button:hover {
  background-color: black;
  color: white;
}